body {
    background-color: #c3bbbb; /* Light background color */
    color: #110101; /* Dark text color */
    font-family: Arial, sans-serif; /* Standard font */
}

.container {
    max-width: 1200px; /* Adjusted for wider layout */
    margin: 0 auto;
    padding: 10px;
}


.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; /* Space between posts */
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* White background for cards */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Light shadow for depth */
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card-title {
    font-size: 20px;
    color: #333;
}

.card-content {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.post-content {
    font-size: 16px;
    color: #333;
}

/* Hide the toggle icon by default */
#toggleIcon {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff; /* Blue background for toggle icon */
    color: #fff; /* White text color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 9999; /* Ensure it's above other content */
}

#toggleIcon:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
